<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CalicCollectionV2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>937B9F3A2F2023AC00C08885</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>937B9F492F2023AD00C08885</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>937B9F532F2023AD00C08885</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
